<style>
    .main-section-contact-mail-wrap{
        background-color: {{ section.settings.background-color }};
    }
</style>


<!-- main home contact -->
<section class="main-section-contact-mail">
    <div class="main-section-contact-mail-wrap">
        <div class="contact-mail-wrap-home__title">
            {{ section.settings.title }}
        </div>
        {% form 'customer'%}
            <div class="contact-mail-wrap-home__input">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="email"
                    name="contact[email]"
                    value="{{ form.email }}"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                    {% endif %}
                    required
                    placeholder="Email của bạn">
                <button type="submit" name="commit" id="Subscribe" class="btn">Gửi ngay</button>
            </div>
            {%- if form.errors -%}
                <div class="contact-mail-wrap-home-label">
                    {%- render 'icon-error' -%}
                    <span>
                        {{ form.errors.messages.email -}}
                    </span>
                </div>
            {%- endif -%}
            {%- if form.posted_successfully? -%}
                <div class="contact-mail-wrap-home-label">
                    {% render 'icon-success' -%}
                    <span>
                        {{- 'newsletter.success' | t }}
                    </span>
                </div>
            {%- endif -%}
        {% endform %}
    </div>
</section>

{% schema %}
{
    "name": "Main home contact",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "inline_richtext",
            "id": "title",
            "label" :"Title"
        },
        {
            "type": "color_background",
            "id": "background-color",
            "label": "Background Color"
        }

    ]
}
{% endschema %}